body {
    background-color: slategray;
}

h1 {
    display: flex;
    justify-content: center;
    color: lavenderblush;
    padding: 60px;
    border: 4px solid tomato;
}

form > label {
    color: lightblue;
}

form > select {
    background-color: cornsilk;
    color: slategrey;
    border: 1px solid white;
    border-radius: 25px;
    padding: 5px;
}

form > input {
    background-color: cornsilk;
    color: slategrey;
    border: 1px solid white;
    border-radius: 25px;
    padding: 5px 50px;
}

label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
