{% extends 'base.html' %}

{% block content %}

<h1>Rock Paper Scissors Game</h1>



<form action="/" method="POST">
    <label for="gesture1">Player One, Please Choose a Gesture:</label>
    <select name="gesture1" id="gesture1">
        <option value="Scissors">Scissors</option>
        <option value="Rock">Rock</option>
        <option value="Paper">Paper</option>
    </select>
    <br><br>
    <label for="gesture2">Player Two, Please Choose a Gesture:</label>
    <select name="gesture2" id="gesture2">
        <option value="Scissors">Scissors</option>
        <option value="Rock">Rock</option>
        <option value="Paper">Paper</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>




{% endblock %}
